/* Component styling */

.prose .anchor {
  position: absolute;
  visibility: hidden;
  text-decoration: none;
  margin-left: -1em;
  padding-right: 0.5em;
  width: 80%;
  max-width: 700px;
  cursor: pointer;
}

.anchor:hover {
  visibility: visible;
}

.prose a {
  text-decoration: underline;
  transition: all;
  text-decoration-color: #a3a3a3; /* neutral-400 */
  text-underline-offset: 2px;
  text-decoration-thickness: 0.1em;
}

.prose .anchor:after {
  color: #d4d4d4; /* neutral-300 */
  content: '#';
}

.prose *:hover > .anchor {
  visibility: visible;
}

.prose pre {
  background-color: white !important;
  border-color: #e5e5e5; /* gray-200 */
  color: black !important;
}

.prose code {
  padding: 0 0.25rem;
  padding-top: 0.125rem;
  padding-bottom: 0.125rem;
  border-radius: 0.5rem;
  background-color: white !important;
  color: black !important;
}

.prose pre code {
  padding: 0;
  border: initial;
  line-height: 1.5;
}

.prose code span {
  font-weight: 500; /* medium */
}

.prose img {
  margin: 0;
}

pre::-webkit-scrollbar {
  display: none;
}

pre {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

table {
  display: block;
  max-width: fit-content;
  overflow-x: auto;
  white-space: nowrap;
}
